*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
nav{
    height: 90px;
    width: 100%;
    background-color: brown;
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 300px;
}
nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
nav ul li{
    font-size: 20px;
    color: aliceblue;
}
nav img{
    height: 70px;
    width: 70px;
    border-radius: 5px;
}
.verify{
    display: flex;
    gap: 15px;
}
.verify button{
    height: 40px;
    width: 80px;
    background-color: aliceblue;
    font-size: 20px;
    color: brown;
    border: none;
    border-radius: 5px;
}
.container input{
    height: 30px;
    width: 70px;
    padding: 5px;
    border-radius: 5px;
}